.my-footer {
  height: 5em;
  color: #ffffff;
  background-color: burlywood;
  margin-top: 1.5em;
  padding: 1em;
  font-size: 80%;
}

.notie-container {
  box-shadow: none;
}

.room-image {
  max-width: 50%;
}
